<main>
  <div class="container my-5">
    <div class="mypage-header text-center mb-4">
      <h2 class="text-muted"><%= current_user.nickname %> さんのマイページ</h2>
    </div>

    <% if @posts.any? %>
      <div class="post-list">
        <% @posts.each do |post| %>
          <div class="post-card">
            <p class="post-author">あなたの記録</p>

            <%= link_to post_path(post), class: "post-link" do %>
              <p><strong>かかった時間:</strong> <%= post.duration %>分</p>
              <p><strong>成果:</strong> <%= truncate(post.result, length: 80) %></p>

              <div class="post-image">
                <% if post.image.attached? %>
                  <%= image_tag post.image, class: "img-fluid rounded" %>
                <% else %>
                  <%= image_tag "sprout.png", class: "img-fluid rounded" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="mt-5 text-center">
        <h4>これまでに投資した時間：</h4>
        <p class="fs-4"><%= @total_duration %> 分</p>
      </div>

      <div class="mt-5">
        <h4 class="text-center mb-3">日ごとの投資時間の推移</h4>
        <%= line_chart @daily_durations, xtitle: "日付", ytitle: "分", height: "300px" %>
      </div>
    <% else %>
      <p class="text-muted text-center">まだ投稿がありません</p>
    <% end %>
  </div>
</main>
