<h1>新規投稿ページ</h1>
<%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
  <%= render partial: "error_messages", model: @post %>
  <%= form.text_field :duration, placeholder: "達成にかかった時間" %><br>
  <%= form.text_field :result, placeholder: "成し遂げたこと" %><br>
  <%= form.file_field :image %><br>
  <%= form.submit "投稿" %>
<% end %>

<%= link_to 'トップページに戻る', root_path %>